* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin: auto;
    width: 80%;
}

p {
    color: hsl(229, 6%, 66%);
}

header {
    white-space: nowrap;
}

.top-container {
    margin-top: 80px;
    text-align: center;
}

.top-container h1 {
    color: hsl(234, 12%, 34%);
    font-size: 26px;
    font-weight: 200;
}

.top-container h2 {
    color: hsl(234, 12%, 34%);
    font-size: 26px;
    margin-top: -18px;
}

.top-container p {
    font-size: 18px;
    text-align: center;
    
}

.box-section {
    margin-top: 75px;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px hsla(234, 12%, 34%, 0.2);
    height: 250px;
    margin: 30px auto;
    padding: 10px 35px;
    position: relative;
    overflow: hidden;
    width: 350px;
}

.card img {
    padding: 15px;
    position: absolute;
    bottom: 10px;
    right: 15px;
}

.card h3 {
    color: hsl(234, 12%, 34%);
    font-size: 21px;
}

.card::after {
    content: '';
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.card-cyan::after {
    background-color:  hsl(180, 62%, 55%);
}

.card-red::after {
    background-color:  hsl(0, 78%, 62%);
}

.card-orange::after {
    background-color: hsl(34, 97%, 64%);
}

.card-blue::after {
    background-color: hsl(212, 86%, 64%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    .top-container h1 {
        font-size: 36px;
    }

    .top-container h2 {
        font-size: 36px;
        margin-top: -30px;
    }

    .top-container p {
        font-size: 16px;
        white-space: pre-wrap; 
    }

    .box-section {
        align-items: center;
        display: flex;
        margin-top: 50px;
    }

    .card {
        margin: 18px;
    }
}